@bgColor: black;
@width: 256px;
.container{
    display: flex;
    .nav-left{
        height: calc(100vh);
        width: @width;
    }
    .main{
        flex: 1
    }

}
.right-middle{
    height: calc(85vh);
    padding: 20px;
    background: rgb(236, 235, 235);
}
.body-inner{
    background:white;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
