.header{
    padding: 10px 20px;
    .header-top{
        text-align: right;
        border-bottom: 1px solid yellow;
        span{
            margin-right: 40px
        }
    }
    .header-bottom{
        .header-bottom-left{
            text-align: center;
            span{
                font-size: 18px;
            }
        }
        .header-bottom-right{
            text-align: right;
            .detail-time{
                margin-right: 40px;
            }
            .weather-pic{
                height: 12px;
                position: relative;
                bottom: 2px;
                margin-right: 4px;
            }
        }
    }
}